<nav class="navbar-container">
    <div class="logo">
        <img [routerLink]="'/'" src="assets/logoWR_navbar.png" alt="Logo">
    </div>
    <div class="nav-links">
        <a [routerLink]="'/blog'" routerLinkActive="active">Blog</a>
        <a [routerLink]="'/servicios'" routerLinkActive="active">Servicios</a>
        <a [routerLink]="'/proposito'" routerLinkActive="active">Propósito</a>
        <a class="btn-Registrar" (click)="abrirModal()">Acceder</a>
    </div>
</nav>

<div class="modal-overlay" *ngIf="isModalOpen">
    <div class="modal-content">
        <h2>Gracias!</h2>
        <p>Estamos Trabajando para darles una mejor atención.</p>
        <img src="assets/modalayuda.png" alt="">
        <button class="close-modal" (click)="cerrarModal()">Cerrar</button>
    </div>
</div>