<app-navbar></app-navbar>
<div class="container">
    <div class="text-content">
        <div class="title">¡Creamos vínculos para <br>entender y atender!</div>
        <p>
            Brindamos servicios en un marco de asesorias y trazabilidad en todas las etapas de los procesos,
            convirtiéndonos en el socio ideal.
        </p>
    </div>
    <img src="assets/Proposito_img.png" alt="Imagen Sobrepuesta" class="overlay-img">
</div>
<div>
    <div class="container2">
        <div class="container-title">
            Nuestros pilares de especialización
        </div>
        <div>Conoce un poco más sobre la satisfacción de quienes trabajan con nosotros</div>
    </div>

    <div class="container-pilares-filas">
        <div class="container-pilares">
            <div><img src="assets/barras.png" alt=""></div>
            <div class="containerPilares-text">Gestión orientada a nuestros Clientes y Postulantes</div>
        </div>
        <div class="container-pilares">
            <div><img src="assets/love.png" alt=""></div>
            <div class="containerPilares-text">Pasión por lo que hacemos para lograr  nuestras metas con nuestros clientes</div>
        </div>
    </div>
    <div class="container-pilares-filas">
        <div class="container-pilares">
            <div><img src="assets/medalla.png" alt=""></div>
            <div class="containerPilares-text">Gestión orientada a nuestros Clientes y Postulantes</div>
        </div>
        <div class="container-pilares">
            <div><img src="assets/luz.png" alt=""></div>
            <div class="containerPilares-text">Pasión por lo que hacemos para lograr nuestras metas con nuestros clientes</div>
        </div>
    </div>
    <div class="container-pilares-filas">
        <div class="container-pilares">
            <div><img src="assets/mira.png" alt=""></div>
            <div class="containerPilares-text">Gestión orientada a nuestros Clientes y Postulantes</div>
        </div>
        <div class="container-pilares">
            <div><img src="assets/like.png" alt=""></div>
            <div class="containerPilares-text">Pasión por lo que hacemos para lograr  nuestras metas con nuestros clientes</div>
        </div>
    </div>
     <div class="container-propositos">
        <img src="assets/Proposito_img1.png" alt="">
        <div class="texto-container">
            <div class="title-container">Nuestro objetivo</div>
            <div class="text">Ser un modelo de negocio eficiente para nuestros clientes,
                
                diseñando estrategias y soluciones a medida, con un equipo 
                altamente especializado, enfocados en brindar servicios en 
                temporadas de alta demanda de manera rápida y efectiva, 
                generando beneficios a las organizaciones.
            </div>
        </div>
    </div>
    
    <div class="container-propositos reverse">
        <div class="texto-container">
            <div class="title-container">Nuestra misión</div>
            <div class="text">Resolver las necesidades de nuestros clientes, a través de un 
                enfoque hacia la innovación y mejora continua de los 
                procesos, lo que nos permitirá cumplir con las exigencias del 
                mercado tanto en eficiencia, agilidad y calidad.
            </div>
        </div>
        <img src="assets/Proposito_img2.png" alt="">
    </div>
    
    <div class="container-propositos">
        <img src="assets/Proposito_img3.png" alt="">
        <div class="texto-container"> 
            <div class="title-container">Nuestra visión</div>
            <div class="text">Ser la empresa de servicio número uno en el mercado regional, 
                capaz de atender a empresas de diversos sectores y distintos 
                regímenes, convirtiéndonos en el socio líder en Gestión 
                Humana, administrativa, social y laboral. Llegando a ser una 
                empresa sostenible y socialmente responsable, 
                comprometidos con nuestro grupo de interés.
            </div>
        </div>
    </div>
    
    <div class="container-propositos-footer reverse">
        <div class="registrate-gratis">
            <div class="text-registrate">
                <div>Comienza a usar Waki Runa ahora</div>
                <button class="btn-Registrar">Regístrate gratis</button>
            </div>
            <img src="assets/Proposito_img4.png" alt="" class="overlay-img2">
        </div>
    </div> 

</div>
<app-footer></app-footer>